/* LoadingSpinner.module.css */
.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    animation: rotate 1s linear infinite;
}

.spinner circle {
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 120;
    }
    50% {
        stroke-dashoffset: 30;
    }
    100% {
        stroke-dashoffset: 120;
    }
}