.simulationResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    height: 100%;
    width: 100%;
}

.simulationResults > h2 {
    text-align: center;
}

.basicResults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
}

.box {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;

    padding: 1rem;

    border: black 1px solid;
    border-radius: 8px;
}

.table {
    width: auto;
    border-collapse: collapse;
}

.table > thead {
    background-color: var(--color-neutral-300);
    color: var(--color-neutral-700);
}

.row:hover {
    background-color: var(--color-neutral-100);
    cursor: pointer;
}

.table td {
  border: 1px solid #ddd;
  padding: 0.5rem 0.75rem;
}